<div class="row">

  <!-- 1: filter based on Books  -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Filtra per libro</span>
      </div>
      <div class="panel-body">
        <form class="form" name="bookFilterForm">
          <!-- Book name -->
          <div class="form-group">
            <label for="title">Titolo</label>
            <input class="form-control" type="text" name="title" ng-model="bookFilter.title" />
          </div>
          <!-- Year -->
          <div class="form-group">
            <label for="year">Anno</label>
            <input class="form-control" type="number" name="year" ng-model="bookFilter.year" />
          </div>
          <!-- Buttons -->
          <div class="form-group">
            <button class="btn btn-primary" type="submit" ng-click="getCatalogList(bookFilter)">Filtra</button>
            <button class="btn btn-default" type="button" ng-click="resetBookFilter()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!-- -->
  <div class="col-xs-9">

    <!-- 2: author filter -->
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Filtra autore</span>
        </div>
        <div class="panel-body">
          <form class="form form-inline" name="authorFilterForm">
            <!-- Book name -->
            <div class="form-group">
              <label for="name">Nome</label>
              <input class="form-control" type="text" name="name" ng-model="authorFilter.name" required />
            </div>
            <!-- Buttons -->
            <div class="form-group">
              <!--<button class="btn btn-primary" type="submit" ng-click="bookFilterApply()">Login</button> -->
              <button class="btn btn-default" type="button" ng-click="resetAuthorFilter()">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Catalog -->
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Lista autori</span>
        </div>

        <div class="panel-body panel-body-catalog">

          <!-- spinner for waiting query -->
          <div class="sk-folding-cube" ng-if="waitCatalog">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>

          <!-- results -->
          <div ng-if="!waitCatalog">
            <!-- Message when no records -->
            <div class="alert alert-info" role="alert" ng-show="(catalog.Author|filter:authorFilter).length == 0">Nessun record trovato!</div>
            <!-- Actual table containing the catalog -->
            <table class="table table-hover table-bordered" ng-if="!waitCatalog" ng-show="(catalog.Author|filter:authorFilter).length > 0">
              <thead>
                <th ng-click="setAuthorOrderBy('name')">
                  <span>Autore</span>
                  <sort-icon order-array="{{authorSortFieldReverse}}" order-field="name" />
                </th>
                <th ng-click="setAuthorOrderBy('pseudonym')">
                  <span>Nickname</span>
                  <sort-icon order-array="{{authorSortFieldReverse}}" order-field="pseudonym" />
                </th>
                <th ng-click="setAuthorOrderBy('id')">
                  <span>Id</span>
                  <sort-icon order-array="{{authorSortFieldReverse}}" order-field="id" />
                </th>
                <th></th>
              </thead>
              <tbody ng-repeat="author in catalog.Author | filter:authorFilter | orderBy:authorSortField:authorSortFieldReverse[authorSortField] track by author.id ">
                <tr>
                  <td>{{::author.name}}</td>
                  <td>{{::author.pseudonym}}</td>
                  <td>{{::author.id}}</td>
                  <td ng-click="showAuthorBooks(author)" class="text-center">
                    <i class="fa" ng-class="{'fa-plus-circle': !authorBooksExpanded[author.id], 'fa-minus-circle ': authorBooksExpanded[author.id]}" aria-hidden="true"></i>
                  </td>
                </tr>
                <tr ng-show="authorBooksExpanded[author.id]" class="bookRow">
                  <td colspan="4">
                    <div class="bookCellContainer">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <th ng-click="setBookOrderBy(author.id, 'title')">
                            <span>Titolo</span>
                            <sort-icon order-array="{{bookSortFieldReverse}}" order-field="{{author.id+'-title'}}" />
                          </th>
                          <th ng-click="setBookOrderBy(author.id, 'year')">
                            <span>Anno</span>
                            <sort-icon order-array="{{bookSortFieldReverse}}" order-field="{{author.id+'-year'}}" />
                          </th>
                          <th ng-click="setBookOrderBy(author.id, 'basePrice')">
                            <span>Prezzo base</span>
                            <sort-icon order-array="{{bookSortFieldReverse}}" order-field="{{author.id+'-basePrice'}}" />
                          </th>
                          <th>Sconto</th>
                          <th></th>
                          <th></th>
                        </thead>
                        <tbody ng-repeat="book in booksByAuthor(author.id) | orderBy:bookSortField[author.id]:bookSortFieldReverse[author.id+'-'+bookSortField[author.id]]">
                          <td>{{book.title}}</td>
                          <td>{{book.year}}</td>
                          <td>{{book.basePrice | currency:"€" }}</td>
                          <td>12%</td>
                          <td></td>
                          <td ng-click="showBookDetail(book)" class="text-center">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </td>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Paginator -->
            <ul uib-pagination boundary-links="true" total-items="totalAuthors" ng-model="currentPage" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
          </div>

        </div>

      </div>
    </div>

  </div>



</div>
