/** Overflow scrollbar styles
*/
body ::-webkit-scrollbar {
  width: 3px;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: insert 0 0 6px rgba(0, 0, 0, 0.3);
}
body ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

span.modal-close {
  position: absolute;
  top: -17px;
  right: -12px;
  font-size: 25px;
  cursor: pointer;
  text-align:center;
}
span.modal-close > i {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid grey;
  background-color: white;
  padding: 2px;
  width:29px;
}

.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width:767px){
  .xs-no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.page-header {
  margin-top: 20px !important;
}
.page-header > h1 > button {
  margin-top:20px;
}
